/*
 * ----------------------------
 * Color Schemes
 * ----------------------------
 */
 :root {
  --primary-color: #EBFFFD;    /* Mint Green */
  --secondary-color: #F5F1E3;  /* Soft Beige */
  --accent-color: #3A6B7E;     /* Deep Blue */
  --background-color: #FAFAF8; /* Off White */
}

/*
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

*{
  margin:0;
  padding:0;
  box-sizing:border-box
}

body {
  background-color: var(--background-color);
  color: var(--accent-color);
}

.navbar {
  background-color: var(--primary-color) !important;
  margin-bottom: 20px;
}

#collapseMenu {
  padding: 10px 50px;
}

.form-area{
  position:relative;
  margin-bottom:40px;
  padding: 40px 40px 10px;
  border:1px solid var(--accent-color);
}

.form-area h3{
  background-color: var(--background-color);
  position:absolute;
  top:-25px;
  left:13px;
  padding:10px;
  z-index:23;
  display:inline-block
}

.input-space{
  width: 100%;
  margin-bottom:20px
}
