<div class="d-flex justify-content-center align-items-center">
  <div *ngIf="isAuthenticated && userFullName" class="me-3">
      Welcome back, {{ userFullName }}!
  </div>

  <button *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-secondary me-1">
    <i class="fas fa-sign-in-alt"></i> Login
  </button>

  <div *ngIf="isAuthenticated">
    <button routerLink="/members" class="btn btn-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Member's Page">
      <i class="fas fa-user"></i>
    </button>
    <button routerLink="/order-history" class="btn btn-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Order History">
      <i class="fa-solid fa-clock-rotate-left"></i>
    </button>
    <button (click)="logout()" class="btn btn-secondary">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </div>
</div>
