<div class="page-wrapper">

  <!-- PAGE CONTAINER-->
  <div class="page-container">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg px-3">

      <!-- Collapse button for small screens -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu"
        aria-controls="collapseMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Logo -->
      <a class="navbar-brand text-center" routerLink="/products">
        <img src="assets/images/logo.png" alt="Maple Store" height="60">
      </a>

      <!-- Cart button -->
      <app-cart-status></app-cart-status>

      <!-- Search box -->
      <div class="d-flex flex-grow-1">
        <app-search class="flex-grow-1 mx-5"></app-search>
      </div>

      <!-- Login status -->
      <div class="d-flex justify-content-end flex-grow-1">
        <app-login-status></app-login-status>
      </div>

      <!-- Collapse menu for categories in small screens -->
      <div class="collapse navbar-collapse" id="collapseMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item d-lg-none">
            <app-product-category-menu></app-product-category-menu>
          </li>
        </ul>
      </div>
    </nav>

    <!-- MENU SIDEBAR for large screens -->
    <div class="menu-sidebar d-none d-lg-block m-3">
      <app-product-category-menu></app-product-category-menu>
    </div>

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>

  </div>
  <!-- END PAGE CONTAINER-->

  <!-- FOOTER -->
  <footer class="mt-auto p-3 text-center">
    <p>
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      Maple Store
    </p>
  </footer>
  <!-- END FOOTER -->

</div>
